name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
        cd node-brcode
        npm install -g node-gyp
        npm ci
    - run: |
        cd node-brcode
        curl -s https://api.github.com/repos/naomijub/brcode/releases/latest \
        | grep "browser_download_url.*so" \
        | cut -d : -f 2,3 \
        | tr -d \" \
        | wget -qi -
        export LD_LIBRARY_PATH=.    
        npm test